<section class="wedding__hero-section js-hero-section"></section>
  <section class="wedding__flipbook-section js-flipbook-content">
    <div class="flipbook">
      <div class="wedding__section wedding__principal-section is-mobile">
        <article class="wedding__content-section">
          <img src="./../assets/images/principal/mobile/couple.png" alt="Couple">
        </article>
      </div>
      <div class="wedding__section wedding__principal-section is-mobile"></div>
      <div class="wedding__section wedding__reception-section is-mobile">
        <article class="wedding__content-section">
          <img src="./../assets/images/reception/mobile/our-family.png" alt="Our family">
          <img src="./../assets/images/reception/mobile/married-names.png" alt="Married names">
          <img src="./../assets/images/reception/mobile/we-wait-in.png" alt="We wait in">
          <img src="./../assets/images/reception/mobile/event-date.png" alt="Event date">
          <img src="./../assets/images/reception/mobile/address.png" alt="Address">
          <img 
            class="bar-code"
            src="./../assets/images/reception/mobile/mock-access-code.png"
            alt="Mock access code"
          />
        </article>
      </div>
      <div class="wedding__section wedding__reception-section is-mobile"></div>
      <div class="wedding__section wedding__godparents-section is-mobile"></div>
      <div class="wedding__section wedding__godparents-section is-mobile"></div>
      <div class="wedding__section wedding__gifts-section is-mobile"></div>
    </div>
  </section>
</section>