<section class="wedding__hero-section js-hero-section"></section>
  <section class="wedding__flipbook-section js-flipbook-content">
    <div class="flipbook">
      <div class="wedding__section wedding__principal-section is-mobile">
        <article class="wedding__content-section">
          <!-- INIT CLOCK SECTION -->
          <section class="wedding__count-section">
            <div class="wedding__count-section-clock">
              <p class="wedding__count-section-item">
                <span class="wedding__count-section-subitem">02</span>
                <span class="wedding__count-section-subitem--mod">Meses</span>
              </p>
              <p class="wedding__count-section-item">
                <span class="wedding__count-section-subitem">15</span>
                <span class="wedding__count-section-subitem--mod">Días</span>
              </p>
              <p class="wedding__count-section-item">
                <span class="wedding__count-section-subitem">02</span>
                <span class="wedding__count-section-subitem--mod">Horas</span>
              </p>
              <p class="wedding__count-section-item">
                <span class="wedding__count-section-subitem">34</span>
                <span class="wedding__count-section-subitem--mod">Minutos</span>
              </p>
            </div>
          </section>
          <!-- END CLOCK SECTION -->
        </article>
      </div>
      <div class="wedding__section wedding__reception-section is-mobile"></div>
      <div class="wedding__section wedding__reception-section is-mobile">
        <article class="wedding__content-section">
          <img src="./../assets/images/reception/mobile/our-family.png" alt="Our family">
          <img src="./../assets/images/reception/mobile/married-names.png" alt="Married names">
          <img src="./../assets/images/reception/mobile/we-wait-in.png" alt="We wait in">
          <img src="./../assets/images/reception/mobile/event-date.png" alt="Event date">
          <img src="./../assets/images/reception/mobile/address.png" alt="Address">
          <img 
            class="bar-code"
            src="./../assets/images/reception/mobile/mock-access-code.png"
            alt="Mock access code"
          />
        </article>
      </div>
      <div class="wedding__section wedding__reception-section is-mobile"></div>
      <div class="wedding__section wedding__godparents-section is-mobile"></div>
      <div class="wedding__section wedding__godparents-section is-mobile"></div>
      <div class="wedding__section wedding__gifts-section is-mobile"></div>
    </div>
  </section>
</section>

<!-- INIT CONTROLS SECTION -->
<section class="wedding__control-left">
  <div>LEFT</div>
</section>
<section class="wedding__control-right">
  <div>RIGHT</div>
</section>
<!-- END CONTROLS SECTION -->