<section class="wedding__flipbook-section js-flipbook-content animate__animated animate__fadeIn">
  <div class="flipbook">
    <div class="wedding__section wedding__principal-section is-mobile">
      <!-- INIT CONTENT SECTION -->
      <article class="wedding__content-section">
        <!-- INIT CLOCK SECTION -->
        <section class="wedding__count-section">
          <div class="wedding__count-section-clock">
            <p class="wedding__count-section-item">
              <span class="wedding__count-section-subitem js-days">00</span>
              <span class="wedding__count-section-subitem--mod">Días</span>
            </p>
            <p class="wedding__count-section-item">
              <span class="wedding__count-section-subitem js-hours">00</span>
              <span class="wedding__count-section-subitem--mod">Horas</span>
            </p>
            <p class="wedding__count-section-item">
              <span class="wedding__count-section-subitem js-minutes">00</span>
              <span class="wedding__count-section-subitem--mod">Minutos</span>
            </p>
            <p class="wedding__count-section-item">
              <span class="wedding__count-section-subitem js-seconds">00</span>
              <span class="wedding__count-section-subitem--mod">Segundos</span>
            </p>
          </div>
        </section>
        <!-- END CLOCK SECTION -->
      </article>
      <!-- END CONTENT SECTION -->
      <!-- INIT CONTROLS SECTION -->
      <section class="wedding__control-right">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('next')">
          <img src="./../assets/icons/arrow.svg" alt="arrow right">
        </div>
      </section>
      <!-- END CONTROLS SECTION -->
    </div>
    <div class="wedding__section wedding__reception-section is-mobile"></div>
    <div class="wedding__section wedding__reception-section is-mobile">
      <!-- INIT CONTENT SECTION -->
      <article class="wedding__content-section">
        <img src="./../assets/images/reception/mobile/our-family.png" alt="Our family"/>
        <img src="./../assets/images/reception/mobile/married-names.png" alt="Married names"/>
        <img src="./../assets/images/reception/mobile/we-wait-in.png" alt="We wait in"/>
        <img src="./../assets/images/reception/mobile/event-date.png" alt="Event date"/>
        <img src="./../assets/images/reception/mobile/address.png" alt="Address"/>
        <img 
          class="qr-loader js-qr-loader"
          src="./../assets/images/eclipse-loader.svg"
          alt="loader QR code"
        />
        <img 
          class="qr-code js-qr-code is-hidden animate__animated animate__fadeIn"
          alt="access QR code"
        />
      </article>
      <!-- END CONTENT SECTION -->
      <!-- INIT CONTROLS SECTION -->
      <section class="wedding__control-left">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('previous')">
          <img src="./../assets/icons/arrow.svg" alt="arrow left"/>
        </div>
      </section>
      <section class="wedding__control-right">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('next')">
          <img src="./../assets/icons/arrow.svg" alt="arrow right"/>
        </div>
      </section>
      <!-- END CONTROLS SECTION -->
    </div>
    <div class="wedding__section wedding__reception-section is-mobile"></div>
    <div class="wedding__section wedding__godparents-section is-mobile">
      <!-- INIT CONTENT SECTION -->
      <article class="wedding__content-section">
        <img src="./../assets/images/godparents/mobile/title.png" alt="Page title"/>
        <img src="./../assets/images/godparents/mobile/boy-fathers.png" alt="Boy fathers"/>
        <img src="./../assets/images/godparents/mobile/girl-fathers.png" alt="Girl fathers"/>
        <img src="./../assets/images/godparents/mobile/godparent-names.png" alt="Our godparents"/>
      </article>
      <!-- END CONTENT SECTION -->
      <!-- INIT CONTROLS SECTION -->
      <section class="wedding__control-left">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('previous')">
          <img src="./../assets/icons/arrow.svg" alt="arrow left"/>
        </div>
      </section>
      <section class="wedding__control-right">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('next')">
          <img src="./../assets/icons/arrow.svg" alt="arrow right"/>
        </div>
      </section>
      <!-- END CONTROLS SECTION -->
    </div>
    <div class="wedding__section wedding__godparents-section is-mobile"></div>
    <div class="wedding__section wedding__gifts-section is-mobile">
      <!-- INIT CONTENT SECTION -->
      <article class="wedding__content-section">
        <img src="./../assets/images/gifts/mobile/text.png" alt="Gifts text"/>
        <div class="addresses">
          <img src="./../assets/images/gifts/mobile/address-title.png" alt="Address title"/>
          <img src="./../assets/images/gifts/mobile/general-address.png" alt="General address"/>
          <img src="./../assets/images/gifts/mobile/specific-address.png" alt="Specific address"/>
        </div>
      </article>
      <!-- END CONTENT SECTION -->
      <!-- INIT CONTROLS SECTION -->
      <section class="wedding__control-left">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('previous')">
          <img src="./../assets/icons/arrow.svg" alt="arrow left"/>
        </div>
      </section>
      <!-- END CONTROLS SECTION -->
    </div>
  </div>
</section>
