<section class="wedding__hero-section">
  <article class="wedding__count-section">
    <div class="wedding__count-section-clock">
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem">02</span>
        <span class="wedding__count-section-subitem--mod">Meses</span>
      </p>
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem">15</span>
        <span class="wedding__count-section-subitem--mod">Días</span>
      </p>
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem">02</span>
        <span class="wedding__count-section-subitem--mod">Horas</span>
      </p>
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem">34</span>
        <span class="wedding__count-section-subitem--mod">Minutos</span>
      </p>
    </div>
  </article>
</section>
<section class="wedding__content-section">
  CONTENT
</section>
