<section class="wedding__hero-section">
  <article class="wedding__count-section">
    <div class="wedding__count-section-clock">
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem">02</span>
        <span class="wedding__count-section-subitem--mod">Meses</span>
      </p>
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem">15</span>
        <span class="wedding__count-section-subitem--mod">Días</span>
      </p>
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem">02</span>
        <span class="wedding__count-section-subitem--mod">Horas</span>
      </p>
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem">34</span>
        <span class="wedding__count-section-subitem--mod">Minutos</span>
      </p>
    </div>
  </article>
</section>
<section class="wedding__content-section">
  <article class="swiper js-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!-- INIT CONTENT SECTION -->
        <div class="wedding__section wedding__reception-section is-desktop">
          <article class="wedding__content-section">
            <img src="./../assets/images/reception/mobile/our-family.png" alt="Our family"/>
            <img src="./../assets/images/reception/mobile/married-names.png" alt="Married names"/>
            <img src="./../assets/images/reception/mobile/we-wait-in.png" alt="We wait in"/>
            <img src="./../assets/images/reception/mobile/event-date.png" alt="Event date"/>
            <img src="./../assets/images/reception/mobile/address.png" alt="Address"/>
            <img 
              class="bar-code"
              src="./../assets/images/reception/mobile/mock-access-code.png"
              alt="Mock access code"
            />
          </article>
        </div>
        <!-- END CONTENT SECTION -->
      </div>
      <div class="swiper-slide">
        <!-- INIT CONTENT SECTION -->
        <div class="wedding__section wedding__godparents-section is-desktop">
          <article class="wedding__content-section">
            <img src="./../assets/images/godparents/mobile/title.png" alt="Page title"/>
            <img src="./../assets/images/godparents/mobile/boy-fathers.png" alt="Boy fathers"/>
            <img src="./../assets/images/godparents/mobile/girl-fathers.png" alt="Girl fathers"/>
            <img src="./../assets/images/godparents/mobile/godparent-names.png" alt="Our godparents"/>
          </article>
        </div>
        <!-- END CONTENT SECTION -->
      </div>
      <div class="swiper-slide">
        <!-- INIT CONTENT SECTION -->
        <div class="wedding__section wedding__gifts-section is-desktop">
          <article class="wedding__content-section">
            <img src="./../assets/images/gifts/mobile/text.png" alt="Gifts text"/>
            <div class="addresses">
              <img src="./../assets/images/gifts/mobile/address-title.png" alt="Address title"/>
              <img src="./../assets/images/gifts/mobile/general-address.png" alt="General address"/>
              <img src="./../assets/images/gifts/mobile/specific-address.png" alt="Specific address"/>
            </div>
          </article>
        </div>
        <!-- END CONTENT SECTION -->
      </div>
    </div>
    <!-- INIT CONTROLS SECTION -->
    <section class="wedding__control-left js-control-left">
      <div class="wedding__control-thumb">
        <img src="./../assets/icons/arrow.svg" alt="arrow left"/>
      </div>
    </section>
    <section class="wedding__control-right js-control-right">
      <div class="wedding__control-thumb">
        <img src="./../assets/icons/arrow.svg" alt="arrow right"/>
      </div>
    </section>
    <!-- END CONTROLS SECTION -->
  </article>
</section>
