/* INIT OVERRIDE NATIVES FLIPBOOK CLASSES */
.flipbook, .flipbook .page{
  width: 100%;
  height: 100%;
}
/* END OVERRIDE NATIVES FLIPBOOK CLASSES */
/* INIT OVERRIDE NATIVES SWIPER CLASSES */
.swiper {
  width: 100%;
  height: 100%;
}
/* INIT OVERRIDE NATIVES SWIPER CLASSES */