// SCSS variables
$breakpoints: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);
// CSS variables
:root{
  // COLORS
  --backdrop-color: #898989;
  --backdrop-card-color: #adadad8c;
  --primary-color: #feebf1;
  --accent-color: #f9e2c2c2;
  --neutral-color: #fefbf3;
  --width-hero-section: 1024.5px;
  --text-color: #161616;
  /** 0.25rem range */
  --font-size-body: .79rem;
  --font-size-h1: 1.93rem;
  --font-size-h2: 1.68rem;
}
@media screen and (min-width: 576px){
  :root{
    --font-size-body: .95rem;
    --font-size-h1: 2.09rem;
    --font-size-h2: 1.84rem;
  }
}
@media screen and (min-width: 768px){
  :root{
    --font-size-body: 1rem;
    --font-size-h1: 2.25rem;
    --font-size-h2: 2rem;
  }
}
