.wedding{
  display: flex;
  height: 100vh;
  &__hero-section{
    flex: 2;
    width: 100%;
    height: 100%;
    background-image: url('./../assets/images/hero-section.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content-section{
    flex: 1;
    overflow: hidden;
  }
  &__count-section{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__count-section-clock{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: .5rem;
    gap: .5rem;
    @include from('sm'){
      padding: 1rem;
    }
  }
  &__count-section-item{
    --padding-childs: .2em .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: .25rem;
    background: var(--backdrop-card-color);
    @include from ('sm'){
      --padding-childs: .3em 1.3rem;
      width: 90px;
      height: 90px;
    }
    @include from ('md'){
      width: 100px;
      height: 100px;
    }
    @include from ('lg'){
      --padding-childs: .5em 1.5rem;
      width: 115px;
      height: 115px;
    }
  }
  &__count-section-subitem{
    flex: 1;
    width: 100%;
    padding: var(--padding-childs);
    border-radius: .25rem .25rem 0 0;
    background: var(--backdrop-card-color);
    font-size: var(--font-size-h1);
    text-align: center;
    &--mod{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      width: 100%; 
      padding: var(--padding-childs);
      border-radius: 0 0 .25rem .25rem;
      background: var(--backdrop-card-color);
      text-align: center;
    }
  }
  &__flipbook-section{
    position: fixed;
    top: 0;
    right: 100vw;
    flex: 1;
    width: 100%;
    height: 100%;
  }
  &__flipbook-content{
    background-color: var(--neutral-color);
  }
  &__flipbook-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
  }
  &__section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content-section{
    height: 100%;
  }
  //ADDED PADDING IN MOBILE
  &__flipbook-section{
    .wedding__content-section{
      padding: .5rem;
    }
  }
  // INIT STORE SECTION IN FLIPBOOK
  &__principal-section{
    background-image: url('./../assets/images/reception/mobile/background.jpg');
    &.is-mobile{
      background-blend-mode: multiply;
      background-color: var(--backdrop-color);
      background-image: url('./../assets/images/hero-section.jpg');
    }
  }
  &__reception-section{
    &.is-desktop{
      background-image: url('./../assets/images/reception/mobile/background.jpg');
      height: 100%;
      img {
        max-height: 20%;
        object-fit: cover;
      }
      & > .wedding__content-section{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .qr-loader {
          width: 110px;
          &.is-hidden {
            display: none;
          }
        }
        .qr-code {
          max-height: 25%;
          &.is-hidden {
            display: none;
          }
        }
      }
    }
    &.is-mobile{
      background-image: url('./../assets/images/reception/mobile/background.jpg');
      & > .wedding__content-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .qr-loader {
          width: 110px;
          &.is-hidden {
            display: none;
          }
        }
        .qr-code {
          width: 160px;
          &.is-hidden {
            display: none;
          }
        }
      }
    }
  }
  &__godparents-section{
    &.is-desktop{
      background-image: url('./../assets/images/godparents/mobile/background.jpg');
      height: 100%;
      img {
        max-height: 18%;
        object-fit: cover;
      }
    }
    &.is-mobile{
      background-image: url('./../assets/images/godparents/mobile/background.jpg');
    }
    & > .wedding__content-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__gifts-section{
    &.is-desktop{
      background-image: url('./../assets/images/gifts/mobile/background.jpg');
      height: 100%;
      img {
        max-height: 35%;
        object-fit: cover;
      }
    }
    &.is-mobile{
      background-image: url('./../assets/images/gifts/mobile/background.jpg');
    }
    & > .wedding__content-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .addresses{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  // END STORE SECTION IN FLIPBOOK
  // INIT CONTROLS FOR NAVIGATION IN FLIPBOOK AND SWIPER
  %disabled-control-state{
    opacity: 0.5;
    transform: none;
    cursor: default;
  }
  &__control{
    &-thumb{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--backdrop-card-color);
      transition: transform 0.3s;
      &:hover{
        transform: scale(1.10);
      }
    }
    &-left{
      z-index: 1;
      position: fixed;
      top: 50%;
      left: .5rem;
      transform: translateY(-50%) rotate(90deg);
      cursor: pointer;
      &.is-disabled{
        .wedding__control-thumb{
          @extend %disabled-control-state;  
        }
      }
    }
    &-right{
      z-index: 1;
      position: fixed;
      top: 50%;
      right: .5rem;
      transform: translateY(-50%) rotate(270deg);
      cursor: pointer;
      &.is-disabled{
        .wedding__control-thumb{
          @extend %disabled-control-state;
        }
      }
    }
  }
}
// END CONTROLS FOR NAVIGATION IN FLIPBOOK AND SWIPER